extends layout

block content    
    div(id="site-wrap")
        nav(class="main-menu")
            ul(class="main-menu-wrap")
                li(class="main-menu-item")
                    a(href="/") Головна
                li(class="main-menu-item")
                    a(href="/prices") Прейскурант
                li(class="main-menu-item item-active")
                    a(href="/about-us") Про нас
                li(class="main-menu-item")
                    a(href="/enroll") Запис на прийом
        div(class="page-content")
            img.content-image(src="images/index-img1.jpg", alt="Стоматологічний кабінет")
            p(class="web-p") Стоматологічний кабінет «Dentist» - це спеціалізована платна клініка, яка працює із сучасними матеріалами, передовими технологіями і кваліфікованими лікарями.
            p(class="web-p") Провідний лікар клініки, Назарук Юрій Віталійович- лікар із 14- річним стажем роботи у стоматології, являється і засновником зазначеної медичної установи. 
            p(class="web-p") 17 вересня 2014 року є офіційною датою створення стоматологічного кабінету «Dentist».
            p(class="web-p") Однак за цей короткий час нашої роботи ми вже змогли завоювати високу довіру та вдячність серед наших пацієнтів. У нашій клініці ми втілюємо майстерність, якою володіємо – якісно лікуємо зуби!
            p(class="web-p") Ми пропонуємо послуги, що відповідають кращим світовим стандартам якості лікування. Маємо ліцензію і сертифікати на кожен вид послуг. На усі види лікування надаємо гарантію. Усі матеріали, з якими працюють наші лікарі мають відповідний сертифікат, офіційно закуплені у торгових представників провідних фірм – виробників із Німеччини, США, Франції, Італії та Росії. 
            img.content-image(src="images/index-img4.png", alt="Інструменти")
            p(class="web-p") У клініці ведеться суворий контроль за термінами та умовами зберігання кожного матеріалу. Дотримування усіх необхідних норм стерильності, також у клініці забезпечується небезпечних вірусів, таких як імунодефіциту та гепатиту. Виключений ризик перехресної інфекції. Увесь інструментарій проходить усі етапи стерилізації.
            p(class="web-p") Оскільки гарна посмішка важлива складова іміджу будь – якої людини, тому своєчасний візит до стоматолога допомагає уникнути безлічі проблем із зубами у подальшому. І саме тому ми робимо величезний акцент на профілактиці, що допомагає пацієнтові заощадити час та гроші у майбутньому. 
            div.clear-fix