extends layout

block content    
    nav(class="main-menu")
        ul(class="main-menu-wrap")
            li(class="main-menu-item")
                a(href="/") Головна
            li(class="main-menu-item")
                a(href="/prices") Прейскурант
            li(class="main-menu-item")
                    a(href="/about-us") Про нас
            li(class="main-menu-item item-active")
                a(href="/enroll") Запис на прийом
    div(class="page-content")
        include parts/enroll-form
    link(rel='stylesheet', href='/css/jquery.datetimepicker.css')
    link(rel='stylesheet', href='/css/enroll.css')
    script(src="js/jquery.datetimepicker.full.js")
    script(src="js/enroll.js")

        