header(class="web-header")
    div(class="header-wrap")
        img(src="images/image1.png", alt="Image", class="image-logotip")
        div(class="header-titles")
            h1(class="main-title")
                a(href="#") Стоматологічний кабінет
            h2(class="second-title") Назарук Юрій Віталійович