doctype html
html(lang="ua")
  head
    title Стоматологічний кабінет
    meta(charset="utf-8")
    meta(name="description", content="This is cabinet")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //[if lt IE 9]
        <script src="js/html5.js"></script>
        [endif]
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/admin.css')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    script(src="js/jquery.js")
    script(src="js/jquery-ui.js")
  body
    div(id="site-wrap")
        block content
    link(rel='stylesheet', href='/css/jquery.datetimepicker.css')
    link(rel='stylesheet', href='/css/enroll.css')
    script(src="js/jquery.datetimepicker.full.js")
    script(src="js/admin.js")