.xdsoft_time {
    background: #f5f5f5;
    color: #666;
}

.xdsoft_time_close {
    background: #d85656!important;
    color: #fff!important;
}

.xdsoft_timepicker .xdsoft_time_close:hover {
    background: #d85656!important;
    color: #fff!important;
}