form(name="enroll-form", class="enroll-form")
    h2(class="form-title") Заповніть всі поля
    div(class="enroll-form-grups")
        label(for="user-name") Ім'я
        input(type="text", name="user-name", class="enroll-form-fields", placeholder="Ім'я")
    div(class="enroll-form-grups")
        label(for="user-surname") Фамілія
        input(type="text", name="user-surname", class="enroll-form-fields", placeholder="Фамілія")
    div(class="enroll-form-grups")
        label(for="user-email") e-mail
        input(type="email", name="user-email", class="enroll-form-fields", placeholder="e-mail")
    div(class="enroll-form-grups")
        label(for="user-phone") Телефон
        input(type="tel", name="user-phone", pattern="380[0-9]{2}[0-9]{7}", class="enroll-form-fields", placeholder="Телефон")
    div(class="enroll-form-grups")
        label(for="user-comment") Замітка
        textarea( name="user-comment", class="enroll-form-area", placeholder="Замітка")
    div(class="enroll-form-grups")
        h2(class="form-title") Виберіть дату
        div(id="datetimepicker")
    div(class="button-wrap")
        button(type="submit", class="enroll-form-submit") Записатись на прийом
        <span class="error-option-message">Неправильно заповнені дані</span>
    div(class="clearfix")